<main class="container-fluid">
    <div>
        <h1 class="display-5">Bem Vindo ao Centro Médico!</h1>
        <p class="lead text-muted p-1">Aqui você poderá gerenciar um consultório médico com alguns simples cliques!</p>
        <hr/>

        <p class="lead mb-1">Dentre as funcionalidades disponíveis, temos: </p>
        <ul class="list-group w-50">
            <li class="list-group-item">Gerenciar consultas</li>
            <li class="list-group-item">Gerenciar médicos cadastrados</li>
            <li class="list-group-item">Gerenciar pacientes cadastrados</li>
            <li class="list-group-item">Gerenciar tipos de consultas disponíveis</li>
        </ul>

        <p class="lead mb-1 mt-4">Tecnologias usadas: </p>
        <ul class="list-group w-50">
            <li class="list-group-item">DOTNET 5.0 no Backend</li>
            <li class="list-group-item">Angular no Frontend</li>
        </ul>
    </div>
</main>
