<body class="app">
    <aside class="logo p-2">
        <img src="../assets/images/medic-simbol.png" routerLink="" alt="logo"/>
    </aside>

    <header class="header flex-column">
        <a style="text-decoration: none;" routerLink="">
            <p class="lead text-muted mt-1">Centro Médico</p>
        </a>
    </header>

    <aside class="menu">
        <hr/>
        <nav class="links">            
            <a class="link" routerLink="/consulta/gerenciar">Consultas</a>
            <a class="link" routerLink="/medico/gerenciar">Médicos</a>
            <a class="link" routerLink="/consulta/gerenciar">Pacientes</a>
            <a class="link" routerLink="/medico/buscar">Buscar Médico</a> 
            <a class="link" routerLink="/consulta/gerenciar">Tipos de Consulta</a>
            <a class="link" href="https://github.com/Maxel-Uds/Medical-Center-API-CSharp" target="_blank">Repositório Backend</a>
        </nav>
    </aside>

    <main class="content container-fluid">
        <div class="p-3 mt-3">
            <router-outlet> </router-outlet>
        </div>
    </main>

    <footer class="footer">
        <span>Trabalho da matéria de Desenvolvimento de Software Visual</span>
    </footer>
</body>