* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.menu hr {
    margin: 0px;
}

.app {
    margin: 0;
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: "logo header" "nav content" "nav footer";
    height: 100vh;
}

.header {
    width: 100%;
    grid-area: header;
    background-color: #FFFF;
    padding: 5px 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0 60px 23px 0 rgba(0, 0, 0, 0.1), 0 60px 49px 0 rgba(0, 0, 0, 0.06);
}

.menu {
    grid-area: nav;
    padding-top: 0px;
    background-color: #075866;
}

.content {
    width: 100%;
    grid-area: content;
    background-color: rgb(228, 223, 223);
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.1), 0 2px 49px 0 rgba(0, 0, 0, 0.06);
    background-color: #FFF;
    overflow: hidden;
    white-space: nowrap;
}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    background-color: #FFFF;
    cursor: pointer;
}

.link {
    display: block;
    width: 100%;
    padding: 15px 12px;
    text-decoration: none;
    font-size: 1.1em;
    color: #FFF;
    font-weight: 400;
    cursor: pointer;
}

.link:hover {
    color: #FFF;
    background: linear-gradient(135deg, #2c7c99 0%, #38857a 100%);
}